'scopeName': 'source.webgrabplus-siteini'
'name': 'WG++ siteini'
'fileTypes': ['ini']
'firstLineMatch': '^\\s*\\*[\\s*\\*]*WebGrab\\+Plus'
'patterns': [
  {
    'match': '^(\\s*\\*[\\*\\s]*(@(Revision|MinSWversion|Site|Remarks)).*?)$'
    'captures':
      '1':
        'name': 'comment.block'
      '2':
        'name': 'comment.block.documentation'
  }
  {
    'match': '^\\s*\\*.*$'
    'name': 'comment.siteini'
  }
  {
    #elements
    'match': '^\\s*(url_index|index_urlshow|index_urlsubdetail|site|urldate|subpage|urlshow|urlsubdetail|showsplit|date|start|stop|duration|title|(index_)?temp_[1-9]|site_channel|site_id|sort_by|index_showsplit|index_date|index_start|index_stop|index_duration|index_title|index_variable_element|index_site_channel|index_site_id|index_sort_by|detail_urlshow|detail_urlsubdetail|detail_showsplit|detail_date|detail_start|detail_stop|detail_duration|detail_site_channel|detail_site_id|detail_sort_by|(index_|detail_|subdetail_)?(title|titleoriginal|subtitle|description|director|actor|presenter|writer|producer|composer|commentator|rating|ratingicon|category|productiondate|starrating|episode|subtitles|premiere|previousshown|videoaspect|videoquality|showicon|urlchannellogo)|previous_start|previous_stop|previous_duration|channel|urldate|now|showdate|config_site_id|config_site_channel|config_xmltv_id|config_display_name|global_temp_[1-9]|(previous_)?(index_|detail_|subdetail_)?temp_[1-9])'
    'captures':
      '1':
        'name': 'storage.type.siteini'
  }
  {
    #elements (in single quotes)
    'match': '(\'(url_index|index_urlshow|index_urlsubdetail|site|urldate|subpage|urlshow|urlsubdetail|showsplit|date|start|stop|duration|title|(index_)?temp_[1-9]|site_channel|site_id|sort_by|index_showsplit|index_date|index_start|index_stop|index_duration|index_title|index_variable_element|index_site_channel|index_site_id|index_sort_by|detail_urlshow|detail_urlsubdetail|detail_showsplit|detail_date|detail_start|detail_stop|detail_duration|detail_site_channel|detail_site_id|detail_sort_by|(index_|detail_|subdetail_)?(title|titleoriginal|subtitle|description|director|actor|presenter|writer|producer|composer|commentator|rating|ratingicon|category|productiondate|starrating|episode|subtitles|premiere|previousshown|videoaspect|videoquality|showicon|urlchannellogo)|previous_start|previous_stop|previous_duration|channel|urldate|now|showdate|config_site_id|config_site_channel|config_xmltv_id|config_display_name|global_temp_[1-9]|(previous_)?(index_|detail_|subdetail_)?temp_[1-9])\')'
    'captures':
      '2':
        'name': 'storage.type.siteini'
  }
  {
    #modifier after modify
    'match': '\\.(modify)(\\s*\{\\s*(set|calculate|clear|cleanup|substring|remove|addstart|addend|single|replace|select|sort))'
    'captures':
      '1':
        'name': 'entity.name.type.siteini'
      '3':
        'name': 'entity.name.function.siteini'
  }
  {
    #modifier after scrub
    'match': '\\.(scrub)\\s*\{\\s*(regex|multi|single)?'
    'captures':
      '1':
        'name': 'entity.name.type.siteini'
      '2':
        'name': 'entity.name.function.siteini'
  }
  {
    #modifier of .headers
    'match': '[\\{\\|](customheader|accept|referer|contenttype)\\s*='
    'captures':
      '1':
        'name': 'entity.name.tag.siteini'
  }
  {
    #modifier of .site (with =)
    'match': '[\\{\\|](subtitlestype|loadcookie|episodesystem|ratingsystem|url|timezone|maxdays|cultureinfo|charset|titlematchfactor)\\s*='
    'captures':
      '1':
        'name': 'entity.name.tag.siteini'
  }
  {
    #modifier of .site (without =)
    'match': '[\\{\\|](allowlastpageoverflow|keepindexpage)'
    'captures':
      '1':
        'name': 'entity.name.tag.siteini'
  }
  {
    #other 'functions'
    'match': '\\.(headers|format)\\s*'
    'captures':
      '1':
        'name': 'entity.name.type.siteini'
  }
  {
    # specials within ( =param)
    'match': '(separator|style|format|step|count|type|pattern|include|exclude|target|tags)\\s*='
    'captures':
      '1':
        'name': 'entity.name.tag.siteini'
  }
  {
    # specials within ()
    'match': '(removeduplicates)'
    'captures':
      '1':
        'name': 'entity.name.tag.siteini'
  }
# currently Atom only support folding when groups are intended
#  {
#    'begin': 'scope\\.range'
#    'end': '.*?end_scope'
#    'name': 'meta.fucntion.siteini'
#  }
]
